/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');



.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.email-input {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.message-input {
  display: block;
  margin-top: 10px;
  margin-right: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.button-submit {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  background-color: blue;
  color: aliceblue;
}